{% extends 'webapp/basic.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container mt-3">
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
</div>

<div class="container mt-4">
    <h4>User Login</h4>
    <form method="post" action="login">
        {% csrf_token %}
        <div class="form-row mt-2">
            <div class="col-7">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <br>
                <input type="submit" value="Login" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}